:root {
  --cell-size: 160px;
  --cell-size: 144px;
  --board-gap: calc(var(--cell-size) * 0.1);
  --mark-size: calc(var(--cell-size) * 0.7);

  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-accent: #c4c4c4;

  --anim-ease-out: cubic-bezier(0.39, 0.58, 0.57, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

ul li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Utilities */
.container {
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 64px;
  /* overflow: auto; */
}

.btn {
  min-width: calc((var(--cell-size) * 2.2) + (var(--board-gap) * 2));
  min-height: calc(var(--cell-size) * 0.75);
  font-size: calc(var(--board-gap) * 2.5);
  font-weight: 400;
  color: var(--clr-secondary);
  border: none;
  /* padding: 0.5em 1em; */
  border-radius: none;
  border: calc(var(--board-gap) / 5) solid var(--clr-primary);

  background: var(--clr-primary);
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus {
  color: var(--clr-primary);
  background: transparent;
}

.btn-secondary {
  color: var(--clr-primary);
  background: transparent;
  border-color: var(--clr-accent);
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: var(--clr-primary);
}

/* Navbar */

.nav-bar {
  height: 64px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav-bar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: calc(1150px + (var(--cell-size) * 2));
}

.nav-toggle {
  min-height: 56px;
  min-width: 56px;
  position: relative;
  z-index: 8;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}

.nav-toggle.show {
  display: flex;
}

.hamburger {
  position: relative;
  display: flex;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  height: 4px;
  width: 32px;

  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms var(--anim-ease-out);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--clr-primary);
}

.nav-toggle:hover .hamburger::before,
.nav-toggle:hover .hamburger::after {
  background: var(--clr-accent);
}

.hamburger::before {
  bottom: 6px;
}
.hamburger::after {
  top: 6px;
}

.nav-bar.show .nav-toggle .hamburger::before {
  -webkit-transform: translateY(6px) rotate(135deg);
  transform: translateY(6px) rotate(135deg);
}

.nav-bar.show .nav-toggle .hamburger::after {
  -webkit-transform: translateY(-6px) rotate(-135deg);
  transform: translateY(-6px) rotate(-135deg);
}

.nav-menu {
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-secondary);
  opacity: 0;

  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: opacity 400ms var(--anim-ease-out);
  transition: opacity 400ms var(--anim-ease-out);
}

.nav-bar.show .nav-menu {
  opacity: 1;

  -webkit-transform: translateY(0);
  transform: translateX(0);
}

.nav-menu .container-text {
  width: calc((var(--cell-size) * 2.2) + (var(--board-gap) * 2));
  margin-bottom: calc(var(--cell-size) / 2);
}

.nav-menu img {
  width: 100%;
  height: auto;
}

.nav-menu .btn:first-child {
  margin-bottom: calc(var(--board-gap) * 1.5);
}

.nav-menu li:first-child,
.nav-menu li:nth-child(2),
.nav-menu li:last-child {
  opacity: 0;

  -webkit-transform: translateY(calc(var(--cell-size) / 3));
  transform: translateY(calc(var(--cell-size) / 3));
}

.nav-bar.show .nav-menu li {
  opacity: 1;

  -webkit-transform: translateY(0);
  transform: translateY(0);

  -webkit-transition: -webkit-transform 400ms var(--anim-ease-out), opacity,
    400ms var(--anim-ease-out);
  transition: transform 400ms var(--anim-ease-out), opacity,
    400ms var(--anim-ease-out);
}

.nav-bar.show .nav-menu li:nth-child(2) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.nav-bar.show .nav-menu li:last-child {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

/* Game */
.game .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container-logo {
  height: calc((var(--cell-size) * 3) + (var(--board-gap) * 2));
  margin-right: auto;
}

.logo {
  height: 100%;
  width: auto;
}

#logo-sm {
  display: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  gap: var(--board-gap);
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-primary);
  cursor: pointer;
}

/* Mark */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
  background: var(--clr-secondary);
}

.cell.circle::before {
  background: var(--clr-secondary);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background: var(--clr-accent);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  height: var(--mark-size);
  width: calc(var(--mark-size) * 0.2);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(circle):hover::before,
.board.circle .cell:not(.x):not(circle):hover::after {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(circle):hover::before {
  height: var(--mark-size);
  width: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(circle):hover::after {
  height: calc(var(--mark-size) * 0.6);
  width: calc(var(--mark-size) * 0.6);
  background: var(--clr-primary);
}

/* Game over */
.game-over {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;

  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: opacity 400ms var(--anim-ease-out);
  transition: opacity 400ms var(--anim-ease-out);
}

.game-over.show {
  opacity: 1;

  -webkit-transform: translateY(0);
  transform: translateX(0);
}

.game-over .container-text {
  width: calc((var(--cell-size) * 2.2) + (var(--board-gap) * 2));
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--cell-size) / 2);
}

.game-over-text {
  display: none;
}

.game-over-text.show {
  display: block;
}

#x-win,
#o-win {
  width: 80%;
}

.game-over li:first-child,
.game-over li:nth-child(2),
.game-over li:last-child {
  opacity: 0;

  -webkit-transform: translateY(calc(var(--cell-size) / 3));
  transform: translateY(calc(var(--cell-size) / 3));
}

.game-over.show li {
  opacity: 1;

  -webkit-transform: translateY(0);
  transform: translateY(0);

  -webkit-transition: -webkit-transform 400ms var(--anim-ease-out), opacity,
    400ms var(--anim-ease-out);
  transition: transform 400ms var(--anim-ease-out), opacity,
    400ms var(--anim-ease-out);
}

.game-over li:nth-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 75ms;
}

/* Media queries */
@media (max-width: 1024px) {
  :root {
    --cell-size: 132px;
  }
}

@media (max-width: 950px) {
  :root {
    --cell-size: 112px;
  }

  .game .container {
    flex-direction: column;
  }

  .container-logo {
    height: auto;
    width: calc((var(--cell-size) * 3) + (var(--board-gap) * 2));
    margin-right: 0;
    padding-bottom: calc(var(--cell-size) * 0.75);
  }

  #logo-lg {
    display: none;
  }

  #logo-sm {
    display: block;
  }
}

@media (max-width: 540px) {
  :root {
    --cell-size: 92px;
  }

  .conteiner,
  .nav-bar .container,
  .game .container {
    padding: 0 24px;
  }

  .nav-bar .container {
    max-width: calc((var(--cell-size) * 3) + (var(--board-gap) * 2) + 104px);
  }

  .btn {
    min-width: calc((var(--cell-size) * 3) + (var(--board-gap) * 2));
    min-height: var(--cell-size);
    font-size: calc(var(--board-gap) * 3.5);
    border-width: calc(var(--board-gap) / 3.6);
  }

  .nav-menu .container-text,
  .game-over .container-text {
    width: calc((var(--cell-size) * 3) + (var(--board-gap) * 2));
    margin-bottom: calc(var(--cell-size) / 1.4);
  }

  #x-win,
  #o-win {
    width: 80%;
  }
}

@media (max-width: 376px) {
  :root {
    --cell-size: 84px;
  }

  .nav-bar .container {
    max-width: calc((var(--cell-size) * 3) + (var(--board-gap) * 2) + 48px);
  }
}

@media (max-width: 320px) {
  :root {
    --cell-size: 72px;
  }
}

@media (max-width: 280px) {
  :root {
    --cell-size: 64px;
  }
}
